.article {
  font-family: 'Abel', sans-serif;
  &__title {
    font-size: 4em;
  }
  &__content {
    font-size: 1.35em;
    font-weight: lighter;
    letter-spacing: 0.1em;
    line-height: 2em;
  }

  &__p {
    margin: 42px 0;
  }

  &__p--small {
    margin: 42px;
  }

  &__primary-text {
    color: #1976D2;
  }
}
